# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
#virtualenv
/classifier-env/
/__pycache__/
*.pyc
__pycache__/
*.py[cod]
/Preprossering/__pycache__/__init__.cpython-37.pyc/
/Preprossering/__pycache__/__init__.cpython-38.pyc/
/Preprossering/__pycache__/loadData.cpython-37.pyc/
/Preprossering/__pycache__/loadData.cpython-38.pyc/

